body {
    padding: 0;
    margin: 0px;
    background-image: url("img/etc/pink_sneaker_wallpaper.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 400px;
    overflow: hidden;
    height: 100vh;
  }
  
  .nav-wrapper{
    margin: 0.625em 12.5em 0px;
  }

  .nav-wrapper img{
    filter: drop-shadow(0 0 0.625em rgb(0,0,0,0.4));
  }

  .logo-wrapper {
    float: left;
  }
  
  .nav_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_logo {
    margin: 0 10px;
  }
  
  .nav_logo img {
    vertical-align: middle;
  }


  .nav_logo img {
    transition: all 0.3s;
  }
  
  nav #Nike_logo:hover img {
    transform: scale(1.1) rotate(-5deg);
    filter: invert(39%) sepia(51%) saturate(2351%) hue-rotate(2deg) brightness(105%) contrast(103%) drop-shadow(0 0 0.625em rgb(255, 102, 0, 0.6));
  }

  nav #Jumpman_logo:hover img {
    transform: scale(1.1) rotate(5deg);
    filter: invert(15%) sepia(75%) saturate(3876%) hue-rotate(342deg) brightness(94%) contrast(105%) drop-shadow(0 0 0.625em rgb(206, 17, 38, 0.6));
  }

  nav #Adidas_logo:hover img {
    transform: scale(1.1) rotate(-5deg);
    filter: invert(23%) sepia(30%) saturate(5785%) hue-rotate(204deg) brightness(92%) contrast(105%) drop-shadow(0 0 0.625em rgb(0, 81, 186, 0.6));
  }

  nav #sneaker_logo:hover img {
    transform: scale(1.1) rotate(5deg);
    filter: invert(72%) sepia(37%) saturate(5153%) hue-rotate(42deg) brightness(96%) contrast(93%) drop-shadow(0 0 0.625em rgb(117, 183, 9, 0.6));
  }

  @media screen and (max-width: 767px) {
    /* Small screens */
    .nav-wrapper{
      margin: 0.625em 0px 0px 0px;
    }
  
    /* Center the logo */
    .logo-wrapper {
      float: none;
      text-align: center;
    }
  
    /* Adjust margins for the nav logos */
    .nav_logo {
      margin: 10px;
    }
  }
